@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

nav{
    font-family: 'Play', sans-serif !important;
    font-weight: 400 !important;
}
::-webkit-scrollbar {
    position: absolute;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #b9b9b9;

}

::-webkit-scrollbar-thumb {
    background: #43c2f4;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    transition: 200ms;
    background: rgb(255, 176, 74);
}
.btn_action {
    transition: 100ms;
}

.btn_action:active {
    transform: scale(1.15) !important;
    border: none !important;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Quicksand:wght@300;400&display=swap');
.overlay {
    background-color: rgba(0, 0, 0, 0.538);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.search-div {
    width: 85%;
    height: 68px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 180px auto 0px auto;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icon {
    margin: auto 10px;
    fill: #00748b;
}

.icon-fill-blue {
    fill: #00748b;
}

.icon-fill-white {
    fill: rgb(243, 253, 254);
}

.pointer-cursor {
    cursor: pointer;
}

.city-input-div {
    width: 30%;
    height: 100%;
    border: none;
    margin: 0;
    border-radius: 10px 0px 0px 10px;
    background-color: #ffffff;
}

input {
    border: none;
    outline: none;
    color: #000000;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px 0 5px ;
    background-color: transparent;
}

.inactive_bg:hover,
.checkin-out-div-side-border:hover {
    background-color: #c9eaff;
}


#destination-list-items {
    position: absolute;
    top: -20px;
    left: 25%;
    max-height: 200px;
    width: 250px;
    z-index: 1;
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
    background-color: #ffffff;
    border-radius: 8px;
    overflow-y: scroll;
    scroll-behavior: auto;
}
.destination-city {
    width: 100%;
    cursor: pointer;
    color: #071d39;
    padding: 8px 0px 8px 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.active_bg,
.active_bg:hover{
    height: 68px;
    background-color: #0dcaf0;
    color: #000000;
}


.inactive_bg {
    height: 68px;
    background-color: #ffffff;
}

.checkin-out-div-side-border {
    width: 30%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.date-inpute-div {
    justify-content: center;
    width: 100%;
    border-left: 2px solid #dddbd4;
    border-right: 2px solid #dddbd4;
}

.side-border-none {
    border: none;
}



.checkin-out {
    width: fit-content;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}


/* calendar */
#calendar-container {
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    top: -480%;
    left:105%;
    border: thin solid rgba(0, 0, 0, .2);
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 0 10px 10px 10px;
    margin-bottom: 50px;
    width: 410px;
    height: fit-content;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    z-index: 1;
}


#calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 14px 0px;
}

.calendar-month {
    width: 406px;
    color: #000000;
}

#actionButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#actionButtons>svg:active {
    fill: #00748b;
}

#close-btn>svg:hover {
    transition: ease-in-out 300ms;
    transform: scale(1.1);
}

.month-year-name {
    color: #000000;
    font-weight: 600;
}


.disabaled-date {
    opacity: 0.2;
    cursor: default;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#weekdays {
    width: 100%;
    display: flex;
    text-align: center;
}


#weekdays div {
    width: 48px;
    margin: 10px;

}


#calendar {
    width: 100%;
    margin: auto;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(7, 1fr);
}

.day,
.disabaled-date {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
}

.destination-city:hover,
.day:hover,
.day-active_bg {
    background-color: #0dcaf0;
    color: #000000;
}

.booking-range-bg {
    background-color: #e9d8bd;

}

.active-day-active_bg {
    background-color: #0dcaf0;
    color: #000000;
}

#calendar-action-btn-div {
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 10px auto;
    justify-content: space-between;
}

.guest-div {
    width: 27%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    font-weight: 400;
}

.guest-number-container {
    width: 30px;
    display: flex;
    justify-content: center;

}

.guest-text {
    text-align: right;
    padding-right: 10px;
}

#guest-number {
    font-size: 16px;
    font-weight: 400;
}

.clc_btn {
    border: none;
    background-color: #ffffff;
    padding: 8px !important;
    border-radius: 2px !important;
    transition: 100ms;
}

.clc_btn:hover {
    background-color: #77d8ff;
}

.clc_btn:active {
    background-color: #02b5fc;
}

.guest-number-div {
    justify-content: center;
}

.guest-ten-plus-sign-none {
    display: none;
}

.guest-ten-plus-sign-flex {
    display: flex;
}

#search-btn-div {
    width: 13%;
    display: flex;
    justify-content: center;
}

.search-btn {
    width: 90%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #43c2f4;
    color: #000000;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    margin-right: 15px;
}

.search-btn:hover {
    background-color: #02b5fc;
}

.search-btn:activ {
    background-color: #02b5fc;
}
@media(max-width: 1200px) {
    .carousel_img {
        width: 100%;
        height: 90vh;
    }

    .carousel_img>img {
        height: 100% ;
        object-fit: cover ;
    }
}

@media only screen and (max-width: 992px) {
    .search-div {
        width: 98%;
        max-width: 450px;
        height: auto;
        background-color: transparent;
        border: none;
        display: block;
        grid-template-rows: 3;
        top: 10%;
    }

    .city-input-div,
    .checkin-out-div-side-border,
    .guest-div,
    .search-btn {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .city-input-div,
    .date-inpute-div,
    .checkin-out-div-side-border,
    .guest-div,
    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 54px;
        width: 100%;
        border-radius: 10px;
    }
    .active_bg,
    .active_bg:hover{
        height: 54px;
    }
    #city-input-field {
        text-align: center;
    }

    #city-icon {
        padding-left: 0;
        position: relative;
        left: 35%;

    }

    .date-inpute-div {
        border: none;
    }

    .icon-fill-blue {
        fill: #00748b;
    }

    #calendar-container {
        top: 60px;
        left: 0;
        width: 92%;
        max-width: 410px;
        font-size: 12px;
        line-height: 1.4;
    }

    #destination-list-items {
        padding: 0;
        margin: 0;
        top: 60px;
        left: 5%;
        width: 90%;
        padding: 0;
        scroll-behavior:smooth;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }


    #search-btn-div {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .calendar-month {
        width: 100%;
    }

    #weekdays div {
        width: 14%;
        margin: 2px;
    }
}

@media(max-width: 769px) {
    .carousel_img {
        height: 100vh;
    }
}